a,p {
    font-size: 14px;
    line-height: 1.7;
    color: #666;
    margin: 0;
}

*,a,h1,h2,h3,h4,h5,h6,label,li,p,ul {
    margin: 0;
}

a:focus,button {
    outline: 0!important;
}

.alert-validate::before,.label-checkbox100::before {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

@font-face {
    font-family:Poppins-Regular;src:url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family:Poppins-Medium;src:url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family:Poppins-Bold;src:url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family:Poppins-SemiBold;src:url('../fonts/poppins/Poppins-SemiBold.ttf');
}

* {
    padding: 0;
    box-sizing: border-box;
}

body,html {
    height: 100%;
    font-family: Poppins-Regular,sans-serif;
}

.txt1,a,p {
    font-family: Poppins-Regular;
}

a {
    transition: .4s;
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

li,ul {
    list-style-type: none;
}

input,textarea {
    outline: 0;
    border: none;
}

input:focus,textarea:focus {
    border-color: transparent!important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #fff;
}

input:-moz-placeholder {
    color: #fff;
}

input::-moz-placeholder {
    color: #fff;
}

input:-ms-input-placeholder {
    color: #fff;
}

textarea::-webkit-input-placeholder {
    color: #fff;
}

textarea:-moz-placeholder {
    color: #fff;
}

textarea::-moz-placeholder {
    color: #fff;
}

textarea:-ms-input-placeholder {
    color: #fff;
}

label {
    display: block;
}

button {
    border: none;
    background: 0 0;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none!important;
}

.txt1 {
    font-size: 13px;
    line-height: 1.5;
    color: #fff!important;
}

.txt2 {
    font-size: 15px;
    line-height: 1.5;
    color: #5f94ff;
    font-weight: bold;
}

.validateError {
    color: #d80000;
    font-weight: 700;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.wrap-login100 {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px;
    background: rgba(255,255,255,.01);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,.1);
    box-shadow: 0 0 40px rgb(8 7 16 / 60%);
}

.has-val.input100+.focus-input100::before,.input100:focus+.focus-input100::before,.login100-form {
    width: 100%;
}

.login100-form-logo {
    font-size: 60px;
    color: #333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
}

.login100-form-title {
    font-family: Poppins-Medium;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}

.login100-form-subtitle {
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.input100,.label-checkbox100 {
    font-family: Poppins-Regular;
    color: #fff;
    line-height: 1.2;
}

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgba(255,255,255,.24);
    margin-bottom: 30px;
}

.input100 {
    font-size: 16px;
    display: block;
    width: 100%;
    height: 45px;
    background: 0 0;
    padding: 0 5px 0 38px;
}

.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
    background: #fff;
}

.focus-input100::after,.login100-form-btn {
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
}

.focus-input100::after {
    font-family: Material-Design-Iconic-Font;
    font-size: 22px;
    color: #fff;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 6px;
    left: 0;
    padding-left: 5px;
    transition: .4s;
}

.container-login100-form-btn,.label-checkbox100::before {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
}

.has-val.input100,.input100:focus {
    padding-left: 5px;
}

.has-val.input100+.focus-input100::after,.input100:focus+.focus-input100::after {
    top: -22px;
    font-size: 18px;
}

.contact100-form-checkbox {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 35px;
}

.input-checkbox100 {
    display: none;
}

.label-checkbox100 {
    font-size: 13px;
    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
}

.label-checkbox100::before {
    content: "\f26b";
    font-family: Material-Design-Iconic-Font;
    font-size: 13px;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background: #fff;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.input-checkbox100:checked+.label-checkbox100::before {
    color: #555;
}

.container-login100-form-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login100-form-btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #555;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    background: #9152f8;
    background: -webkit-linear-gradient(bottom,#7579ff,#b224ef);
    background: -o-linear-gradient(bottom,#7579ff,#b224ef);
    background: -moz-linear-gradient(bottom,#7579ff,#b224ef);
    background: linear-gradient(bottom,#7579ff,#b224ef);
    position: relative;
    z-index: 1;
    transition: .4s;
}

.login100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #fff;
    top: 0;
    left: 0;
    opacity: 1;
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
}

.login100-form-btn:hover {
    color: #fff;
}

.login100-form-btn:hover:before {
    opacity: 0;
}

@media (max-width:576px) {
    .wrap-login100 {
        padding: 55px 15px 37px;
    }
}

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    pointer-events: none;
    font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    -moz-transition: opacity .4s;
    transition: opacity .4s;
}

.alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome;
    font-size: 16px;
    color: #c80000;
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width:992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}
